# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints

# Virtual environment
.venv/
env/
venv/
ENV/

# Database
db.sqlite3
db.sqlite3-journal

# Django
local_settings.py
staticfiles/
media/
